/* Admin Page */
.admin-body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

.admin-header {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.admin-section {
  margin-bottom: 30px;
  width: 48%;
}

.admin-section-title {
  font-size: 1.5rem;
  color: #2b2d42;
  margin-bottom: 15px;
  text-align: center;
}

.admin-forms-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 0 auto;
}

.admin-form {
  display: grid;
  gap: 15px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.admin-form-group {
  display: flex;
  flex-direction: column;
}

.admin-form-label {
  font-weight: 600;
  margin-bottom: 5px;
}

.admin-form-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.admin-form-input:focus {
  border-color: #2b2d42;
}

.admin-form-button {
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #2b2d42;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-form-button:hover {
  background-color: #1e1f2a;
}

.admin-table {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.admin-table-row {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  transition: background-color 0.3s;
}

.admin-table-row:hover {
  background-color: #f9f9f9;
}

.admin-detail-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.admin-detail-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-detail-close {
  background: #ef233c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}


/*Header*/
.header-container {
  height: 100%;
  width: 100%;
  background-color: #295F98;
  display: flex;
  flex-direction: column;
}

.header-container div {
  height: 33.333333333333%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container-home div {
  height: 8vh;
  width: 8vh;
  background-image: url("../src/assets/home.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.header-container-map div {
  height: 8vh;
  width: 8vh;
  background-image: url("../src/assets/map.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.header-container-history div {
  height: 8vh;
  width: 8vh;
  background-image: url("../src/assets/history.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/*Authpage*/
.authpage-container {
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.authpage-container-left {
  width: calc(60% - 6vw);
  height: calc(100% - 2vh);
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.authpage-container-right {
  width: calc(40%);
  height: calc(100%);
  background-color: antiquewhite;
}

.authpage-container-left-heading {
  width: 100%;
  height: 10%;
  color: black;
  display: flex;
  align-items: center;
  font-size: max(3vh, 2.2vw);
  font-weight: 700;
}

.authpage-container-left-title {
  width: 100%;
  height: 10%;
  color: #888888;
  display: flex;
  align-items: center;
  font-size: max(3vh, 2.2vw);
  font-weight: 700;
}

.authpage-container-left-userid {
  width: 100%;
  height: 15%;
  color: #888888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: max(3vh, 1.8vw);
  font-weight: 700;
  margin-top: 3vh;
}

.authpage-container-left-userid-title {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
}

.authpage-container-left-userid-field {
  height: 50%;
  width: 100%;
}

.authpage-container-left-userid-field input {
  height: 5vh;
  width: 24vw;
  padding-left: 1vw;
  background-color: #f7ffef;
  border: 2px solid black;
  border-radius: 12px;
}

.authpage-container-left-password {
  width: 100%;
  height: 15%;
  color: #888888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: max(3vh, 1.8vw);
  font-weight: 700;
  margin-top: 1vh;
}

.authpage-container-left-password-title {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
}

.authpage-container-left-password-field {
  height: 50%;
  width: 100%;
}

.authpage-container-left-password-field input {
  height: 5vh;
  width: 24vw;
  padding-left: 1vw;
  background-color: #f7ffef;
  border: 2px solid rgb(15, 13, 13);
  border-radius: 12px;
}

.authpage-container-left-submit {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
}

.authpage-container-left-submit button {
  height: 6vh;
  width: 25.55vw;
  background-color: #A52A2A;
  border: 2px solid #A52A2A;
  border-radius: 12px;
  color: white;
  font-size: 1.5vw;
  font-weight: 600;
}

/*dashboard*/

.dashboard-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.dashboard-container-header {
  height: 100%;
  width: calc(8% - 2px);
  border-right: 2px solid black;
}

.dashboard-container-content {
  height: 100%;
  width: 92%;
  display: flex;
  flex-direction: row;
  background-color: #CDC2A5 ;
}

.dashboard-container-content-left {
  height: calc(100% - 6vw);
  width: calc(60% - 6vw);
  padding-left: 3vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-container-content-left-top {
  height: 45%;
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 50px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}

.dashboard-container-content-left-top-left {
  height: 100%;
  width: calc(60% - 1px);
  display: flex;
  flex-direction: column;
  border-right: 1px solid #888888;
}

.dashboard-container-content-left-top-left-top {
  height: calc(50% - 1px);
  width: 100%;
  border-bottom: 1px solid #888888;
}

.dashboard-container-content-left-top-left-bottom {
  height: calc(50% - 1px);
  width: 100%;
  border-top: 1px solid #888888;
}

.dashboard-container-content-left-top-right {
  height: 100%;
  width: calc(40% - 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #888888;
}

.dashboard-container-content-left-bottom {
  height: 45%;
  width: 100%;
  background-color: #F5F5F5 ;
  border-radius: 50px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}

.dashboard-container-content-left-bottom-left {
  height: 100%;
  width: calc(50% - 1px);
  border-right: 1px solid #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dashboard-container-content-left-bottom-left-activeError{
  height: 14%;
  width: 80%;
  background-color: #DAD5BF;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.dashboard-container-content-left-bottom-left-image{
  height: 40%;
  width: 80%;
  margin-top: 6%;
  margin-bottom: 6%;
  background-color: white;
}
.dashboard-container-content-left-bottom-left-text{
  height: 14%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;

}
.dashboard-container-content-right-profile-details{
  height: 33.333333%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.dashboard-container-content-left-bottom-right {
  height: 100%;
  width: calc(50% - 1px);
  border-left: 1px solid #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dashboard-container-content-left-bottom-right-technicians{
  height: 14%;
  width: 80%;
  background-color: #DAD5BF;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.dashboard-container-content-left-bottom-right-count{
  height: 40%;
  width: 80%;
  margin-top: 6%;
  margin-bottom: 6%;
  background-color: white;
}
.dashboard-container-content-left-bottom-right-text{
  height: 14%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.dashboard-container-content-right {
  height: calc(100% - min(6vw));
  width: calc(40% - min(6vw));
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.dashboard-container-content-right-profile {
  height: calc(100% - 54px);
  width: calc(100% - 54px);
  background-color: #F5F5F5;
  border-radius: 50px;
  border: 2px solid black;
  padding: 25px;
}

.dashboard-container-content-right-profile-image {
  height: 40%;
  width: 100%;
  background-image: url("./assets/profile\ 1.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.dashboard-container-content-right-profile-name {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-container-content-right-profile-details {
  height: 33%;
  width: 100%;
  background-color: #DAD5BF;
  border-radius: 20px;
}
.dashboard-container-content-right-profile-details div{
  height: 33.3333333%;
  width: calc(100% - 1vw );
  display: flex;
  margin-left: 1vw;
  font-weight: 600;
  align-items: center;
  flex-direction: row;
}

.dashboard-container-content-right-profile-logout {
  margin-top: 4%;
  height: 8%;
  width: 100%;
  background-color: #A52A2A;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5vw;
  font-weight: 600;
}
